:root {
  --color-golden: #dcca87;
  --color-black: #0c0c0c;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
}

.app {
  background-color: var(--color-black);
  color: var(--color-white);
  min-height: 100vh; /* Đảm bảo nội dung hiển thị đầy đủ */
  padding: 20px;
}